<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MySpectrum</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <content src="ReportEvent.html" />
    <content src="ReportEventRework.html" />
    <content src="ViewPolicies.html" />
    <content src="Settings.html" />
    <content src="Logout.html" />
    <content src="MySpectrum.css" />
    <content src="TestPDF.pdf" />
    <content src="Menu.png" />
    <content src="Cordova.js" />
    <content src="https://fonts.googleapis.com/css?family=Comfortaa" />
    <content src="form.js" />
    <content src="pdf.js" />
    <content src="admin.php" />
    <content src="form.confog.php" />
    <content src="form.html" />
    <content src="form.lib.php" />
    <content src="jqueryform.com.min.js" />
    <content src="phpmailer.php" />
    <content src="vendor.css" />
    <content src="vendor.js" />
    <content src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <content src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
    <content src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker3.min.css" />
    <content src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" />
    <content src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" />
    <content src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js" />
    <content src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js" />
    <content src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.min.js" />
    <content src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js" />
    <content src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.min.js" />
    <content src="https://cdn.jsdelivr.net/icheck/1.0.2/icheck.min.js" />
    <content src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" />
    <content src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js" />
    <content src="http://jqueryform.com.min.js?ver=v2.1.3&id=jqueryform-74959a" />
    <content src="https://cdn.jsdelivr.net/icheck/1.0.2/skins/flat/_all.min.css" />
    <content src="https://cdn.jsdelivr.net/icheck/1.0.2/icheck.min.js" />
    <content src="jqueryform.com" />
</widget>
