<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MySpectrum</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <content src="ReportEvent.html" />
    <content src="ViewPolicies.html" />
    <content src="Settings.html" />
    <content src="Logout.html" />
    <content src="MySpectrum.css" />
    <content src="TestPDF.pdf" />
    <content src="Menu.png" />
    <content src="Cordova.js" />
    <content src="https://fonts.googleapis.com/css?family=Comfortaa" />
    <content src="form.js" />
    <content src="pdf.js" />
</widget>
