page-setting {
	.toolbar-background{
		background:#5DADE2;
	}
	
	ion-navbar.toolbar{
		height: 75px;
	}
	
	.toolbar-title-wp{
		text-align:center;
		color:#F9E79F;
		font-size: 3rem;
		font-weight: 300;
	}
	
	.toolbar-title-md{
		text-align:center;
		color:#F9E79F;
		font-size: 3rem;
		font-weight: 300;
	}
	
	.toolbar-title-ios{
		text-align:center;
		color:#F9E79F;
		font-size: 3rem;
		font-weight: 300;
	}
	
	.padding{
		background:#5DADE2;
	}

}
